@use './mixins' as mix;

html {
  font-size: max(var(--m-documento-texto, 18px), 12px);
  line-height: max(var(--m-documento-interlineado, 1.5rem), 18px);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: var(--m-color-fondo, #fff);
  color: var(--m-color-texto, #272727);
  font-family: var(--m-texto-tipografia, sans-serif);
  font-weight: var(--m-texto-peso, 400);
  box-sizing: border-box;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  @include mix.ui-titulo;
}

h1 {
  font-size: calc(var(--m-titulo-tamanio, 1.25rem) * 3);
}

h2 {
  font-size: calc(var(--m-titulo-tamanio, 1.25rem) * 2.65);
}

h3 {
  font-size: calc(var(--m-titulo-tamanio, 1.25rem) * 2.15);
}

h4 {
  font-size: calc(var(--m-titulo-tamanio, 1.25rem) * 1.75);
}

h5 {
  font-size: calc(var(--m-titulo-tamanio, 1.25rem) * 1.5);
}

h6,
caption {
  font-size: var(--m-titulo-tamanio, 1.25rem);
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: max(0.7em, 12px);
}

sub,
sup {
  font-size: max(0.7em, 12px);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

abbr {
  border-bottom: 1px dotted currentColor;
  text-decoration: none;
}

ins {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
}

blockquote {
  padding-right: 0;
  padding-left: var(--m-documento-espaciado);
  margin-inline: 0;
}

mark,
kbd,
pre,
code,
samp {
  @include mix.ui-bloque;
}

mark {
  --m-bloque-fondo: color-mix(in srgb, color-mix(in srgb, yellow 90%, var(--m-color-primario)) 70%, var(--m-color-fondo));
  --m-bloque-texto: var(--m-color-texto);
}

code,
kbd,
samp,
var,
pre {
  @include mix.ui-codigo;
}

kbd {
  --m-bloque-fondo: color-mix(in srgb, var(--m-color-primario) 20%, var(--m-color-texto));
  --m-bloque-texto: var(--m-color-fondo);
}

samp {
  --m-bloque-fondo: color-mix(in srgb, var(--m-color-primario) 20%, var(--m-color-fondo));
  --m-bloque-texto: var(--m-color-texto);
}

pre,
code {
  --m-bloque-fondo: color-mix(in srgb, var(--m-color-texto) 10%, transparent);
  --m-bloque-texto: var(--m-color-texto);
}

pre {
  --m-bloque-espaciado: var(--m-documento-espaciado);
}

a {
  color: var(--m-enlace-texto-color);
  overflow-wrap: break-word;
  --m-enlace-texto-color: var(--m-color-primario);
  &:active,
  &:focus,
  &:hover,
  &:visited {
    --m-enlace-texto-color: color-mix(in srgb, var(--m-color-primario) 50%, var(--m-color-texto));
  }
}

a,
summary {
  border-radius: 1px;
}

img,
iframe {
  border: none;
}

iframe,
main {
  display: block;
}

figure,
picture,
img,
[disabled] {
  pointer-events: none;
}

figure {
  margin-inline: var(--m-documento-espaciado);
}

hr {
  border-width: 1px 0 0 0;
  color: color-mix(in srgb, currentColor 40%, transparent);
}

dd {
  margin-inline-start: var(--m-documento-espaciado);
}

ul,
ol {
  padding-inline-start: var(--m-documento-espaciado);
}

caption {
  margin-bottom: calc(var(--m-formulario-espaciado) / 2);
}

caption,
th {
  text-align: left;
}

fieldset {
  margin-block: 1em;
  margin-inline: 0;
  padding-inline: var(--m-formulario-espaciado);
  padding-block: calc(var(--m-formulario-espaciado) / 2)  var(--m-formulario-espaciado);
  border-width: var(--m-formulario-borde-tamanio, 1px);
  border-style: var(--m-formulario-borde-estilo, solid);
  border-radius: var(--m-formulario-redondeado, 3px);
  border-color: color-mix(in srgb, currentColor 40%, transparent);
}

fieldset > p:first-of-type {
  margin-top: 0;
}

fieldset > p:last-of-type {
  margin-bottom: 0;
}

legend {
  max-width: 100%;
  padding: 0 calc(var(--m-documento-espaciado) / 2);
}

progress {
  vertical-align: baseline;
}

a,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='file'],
input[type='color'],
summary,
select,
::file-selector-button {
  @include mix.ux-interactivo;
}

a:focus-visible,
summary:focus-visible,
button:focus,
input:focus,
select:focus,
textarea:focus {
  @include mix.ui-enfocable;
  --m-enfoque-borde-color: color-mix(in srgb, var(--m-color-primario) 70%, transparent);
}

button,
input,
output,
select,
textarea,
label {
  @include mix.ui-texto;
  vertical-align: middle;
  margin-block: .15em;
}

label {
  padding-right: calc(var(--m-documento-espaciado) / 2);
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
::file-selector-button {
  padding: var(--m-boton-espaciado);
  border-width: var(--m-boton-borde-tamanio, 0);
  border-style: var(--m-boton-borde-estilo, solid);
  border-radius: var(--m-boton-redondeado, 3px);
  border-color: var(--m-boton-borde-color);
  background: var(--m-boton-fondo-color);
  color: var(--m-boton-texto-color);
  --m-boton-borde-color: var(--m-color-primario);
  --m-boton-fondo-color: var(--m-color-primario);
  --m-boton-texto-color: var(--m-color-fondo);
  &:hover,
  &:focus {
    --m-boton-borde-color: var(--m-color-primario);
    --m-boton-fondo-color: color-mix(in srgb, var(--m-color-primario) 50%, var(--m-color-texto));
    --m-boton-texto-color: var(--m-color-fondo);
  }
}

input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset']),
select,
output {
  height: var(--m-campo-altura);
}

input:not([type='checkbox'], [type='radio'], [type='file'], [type='color'], [type='range'], [type='button'], [type='submit'], [type='reset']),
select,
textarea {
  padding: var(--m-campo-espaciado);
}

input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset']),
select,
textarea {
  border-width: var(--m-campo-borde-tamanio, 1px);
  border-style: var(--m-campo-borde-estilo, solid);
  border-radius: var(--m-campo-redondeado, 3px);
  border-color: var(--m-campo-borde-color);
  background: var(--m-campo-fondo-color);
  color: var(--m-campo-texto-color);
  --m-campo-borde-color: color-mix(in srgb, currentColor 40%, transparent);
  --m-campo-fondo-color: var(--m-color-fondo);
  &:disabled {
    --m-campo-borde-color: color-mix(in srgb, var(--m-color-texto) 20%, transparent);
    --m-campo-fondo-color: color-mix(in srgb, var(--m-color-texto) 20%, transparent);
  }
  &:active:not(:disabled),
  &:focus:not(:disabled),
  &:hover:not(:disabled) {
    --m-campo-borde-color: color-mix(in srgb, var(--m-color-texto) 70%, var(--m-color-primario));
    --m-campo-fondo-color: var(--m-color-fondo);
  }
}

input[type='checkbox'], 
input[type='radio'] {
  margin: 0;
}

input[type='file'] {
  padding-right: var(--m-campo-espaciado);
}

::file-selector-button {
  --m-boton-redondeado: var(--m-campo-redondeado);
  --m-boton-espaciado: var(--m-campo-espaciado);
  border: none;
  height: calc(var(--m-campo-altura) - var(--m-campo-borde-tamanio)*2);
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, color-mix(in srgb, currentColor 40%, transparent) 50%),
    linear-gradient(-45deg, transparent 50%, color-mix(in srgb, currentColor 40%, transparent) 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: var(--m-campo-espaciado);
}
