:root {
  --m-documento-texto: 18px;
  --m-documento-interlineado: 1.375em;
  --m-documento-espaciado: 1rem;

  --m-texto-tipografia: sans-serif;
  --m-texto-peso: 400;
  
  --m-titulo-tipografia: "Funnel Display", serif;
  --m-titulo-tamanio: 1.25rem;
  --m-titulo-interlineado: 1em;
  --m-titulo-peso: 800;
  --m-titulo-margen: 1.25em 0 0;

  --m-codigo-tipografia: monospace;
  --m-codigo-peso: 400;
  --m-codigo-tamanio: 0.75em;
  --m-codigo-espaciado: 0.025em;

  --m-formulario-borde-tamanio: 1px;
  --m-formulario-borde-estilo: solid;
  --m-formulario-redondeado: 5px;
  --m-formulario-espaciado: var(--m-documento-espaciado);

  --m-campo-altura: 44px;
  --m-campo-borde-tamanio: 1px;
  --m-campo-borde-estilo: solid;
  --m-campo-espaciado: .5em;
  --m-campo-redondeado: 5px;
  
  --m-boton-borde-tamanio: 0;
  --m-boton-borde-estilo: solid;
  --m-boton-espaciado: .5em 1em;
  --m-boton-redondeado: 999rem;

  --m-enfoque-borde-estilo: solid;
  --m-enfoque-borde-tamanio: 4px;
  --m-enfoque-espaciado: 0;
}
:root {
  --m-color-fondo: rgb(18, 14, 24);
  --m-color-texto: rgb(255, 255, 255);
  --m-color-primario: rgb(0, 255, 187);
}
:root {
  @media (prefers-color-scheme: light) {
    --m-color-texto: rgb(18, 14, 24);
    --m-color-fondo: rgb(255, 255, 255);
    --m-color-primario: rgb(74, 34, 255);
  }
}