body, button,
input[type=button],
input[type=reset],
input[type=submit], output, [type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  color: #292321;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

button,
input[type=button],
input[type=reset],
input[type=submit], audio,
video, summary, a {
  cursor: pointer;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  text-rendering: optimizeLegibility;
  transition: all 0.27s ease-in-out;
}
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active, audio:active,
video:active, summary:active, a:active, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover, audio:hover,
video:hover, summary:hover, a:hover, button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus, audio:focus,
video:focus, summary:focus, a:focus {
  outline-width: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit], output, [type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  display: inline-block;
  margin: 2px 0;
  padding: 0.4em 0.8em;
  max-width: calc(100% - 1.6em);
  transition: all 0.27s ease-in-out;
}
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active, output:active, [type=date]:active,
[type=datetime]:active,
[type=datetime-local]:active,
[type=email]:active,
[type=file]:active,
[type=month]:active,
[type=number]:active,
[type=password]:active,
[type=search]:active,
[type=tel]:active,
[type=text]:active,
[type=time]:active,
[type=url]:active,
[type=week]:active,
textarea:active,
select:active, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover, output:hover, [type=date]:hover,
[type=datetime]:hover,
[type=datetime-local]:hover,
[type=email]:hover,
[type=file]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
textarea:hover,
select:hover, button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus, output:focus, [type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=file]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus,
select:focus {
  outline-width: 0;
}

html,
body {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1em;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

h1 {
  font-size: 52.9px;
}

h2 {
  font-size: 39.1px;
}

h3 {
  font-size: 32.2px;
}

h4 {
  font-size: 28.75px;
}

h5 {
  font-size: 25.3px;
}

h6 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 101.2px;
  }

  h2 {
    font-size: 66.7px;
  }

  h3 {
    font-size: 48.3px;
  }

  h4 {
    font-size: 34.5px;
  }

  h5 {
    font-size: 27.6px;
  }

  h6 {
    font-size: 23px;
  }
}
a {
  color: #19efaf;
  display: inline;
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 1025px) {
  a {
    color: #19efaf;
    text-decoration: underline;
  }
  a.active, a:active, a:focus, a.hover, a:hover {
    color: #00b17c;
    text-decoration: underline;
  }
}
article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

details {
  margin: 1.5em 0 3em;
}

summary {
  color: #696564;
  display: list-item;
  margin: 1.5em 0 0;
}
summary:hover {
  color: #292321;
}

blockquote {
  margin: 3em;
  font-family: serif;
  font-style: italic;
  font-size: 19.68px;
  line-height: 1.5em;
}

form,
figure {
  margin: 1.5em 0;
}

figcaption {
  font-size: 0.8em;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
video {
  vertical-align: middle;
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

abbr,
ins {
  text-decoration: none;
}

abbr {
  border-bottom: 1px dotted #292321;
  cursor: help;
}

ins {
  border-bottom: 1px dashed #292321;
}

b,
strong {
  font-weight: 900;
}

dfn,
i,
em,
cite,
q {
  font-family: serif;
  font-style: italic;
}

small {
  font-size: 0.7em;
}

sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
kbd,
samp,
var,
mark {
  font-family: monospace;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.4em 0.9em;
  display: inline-block;
  margin: 0.2em 0;
}

code,
kbd,
pre,
samp {
  background: #eae9e9;
}

kbd {
  color: #218968;
  background: #292321;
  color: #FFF;
}
kbd::before {
  content: ">_ ";
  color: #19efaf;
}

samp {
  color: #218968;
}
samp::before {
  content: ">> ";
  color: #19efaf;
}

var {
  color: #218968;
}

mark {
  background: #ffff26;
}

pre {
  font-family: monospace;
  font-size: 0.9em;
  font-weight: normal;
  margin: 1.5em 0;
  padding: 1em;
  display: block;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  border: none;
  border-top: 1px solid #bfbdbc;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 3em 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 2px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  background: transparent;
  border: 1px solid #bfbdbc;
  border-radius: 1px;
  color: #292321;
}
[type=date].hover, [type=date]:active, [type=date]:hover, [type=date]:focus,
[type=datetime].hover,
[type=datetime]:active,
[type=datetime]:hover,
[type=datetime]:focus,
[type=datetime-local].hover,
[type=datetime-local]:active,
[type=datetime-local]:hover,
[type=datetime-local]:focus,
[type=email].hover,
[type=email]:active,
[type=email]:hover,
[type=email]:focus,
[type=file].hover,
[type=file]:active,
[type=file]:hover,
[type=file]:focus,
[type=month].hover,
[type=month]:active,
[type=month]:hover,
[type=month]:focus,
[type=number].hover,
[type=number]:active,
[type=number]:hover,
[type=number]:focus,
[type=password].hover,
[type=password]:active,
[type=password]:hover,
[type=password]:focus,
[type=search].hover,
[type=search]:active,
[type=search]:hover,
[type=search]:focus,
[type=tel].hover,
[type=tel]:active,
[type=tel]:hover,
[type=tel]:focus,
[type=text].hover,
[type=text]:active,
[type=text]:hover,
[type=text]:focus,
[type=time].hover,
[type=time]:active,
[type=time]:hover,
[type=time]:focus,
[type=url].hover,
[type=url]:active,
[type=url]:hover,
[type=url]:focus,
[type=week].hover,
[type=week]:active,
[type=week]:hover,
[type=week]:focus,
textarea.hover,
textarea:active,
textarea:hover,
textarea:focus,
select.hover,
select:active,
select:hover,
select:focus {
  box-shadow: 0;
  outline: 0;
  text-shadow: 0;
  border-color: #292321;
}

output {
  border-bottom: 1px solid #bfbdbc;
  vertical-align: bottom;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #949190 50%), linear-gradient(-45deg, transparent 50%, #949190 50%);
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border-radius: 100rem;
  border-style: solid;
  border-width: 1px;
  background: #19efaf;
  border-color: #19efaf;
  color: white;
  padding-left: 1.4em;
  padding-right: 1.4em;
}
button.active, button:active, button.hover, button:hover, button:focus,
input[type=button].active,
input[type=button]:active,
input[type=button].hover,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset].active,
input[type=reset]:active,
input[type=reset].hover,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=submit].active,
input[type=submit]:active,
input[type=submit].hover,
input[type=submit]:hover,
input[type=submit]:focus {
  background: #00c68b;
  border-color: #00c68b;
  color: white;
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  box-shadow: 0;
  outline: 0;
  text-shadow: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #292321;
}

fieldset {
  border: 1px solid #bfbdbc;
  margin: 1.5em 0;
  padding: 0.35em 0.7em 0.7em;
  max-width: calc(100% - 1.4em);
  display: block;
}

[type=checkbox] + label,
[type=radio] + label {
  box-sizing: border-box;
  cursor: pointer;
  margin-left: -1.5em;
  padding-left: 1.65em;
  overflow: visible;
  position: relative;
}
[type=checkbox] + label::before,
[type=radio] + label::before {
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #bfbdbc;
  display: block;
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  left: 0;
  top: 0.45em;
  content: "";
}

[type=checkbox]:checked + label::before,
[type=radio]:checked + label::before {
  border-color: #19efaf;
  box-shadow: inset 0 0 0 0.3em #19efaf;
}

[type=radio] + label::before {
  border-radius: 1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody tr,
tfoot tr {
  border-top: 1px solid #bfbdbc;
}

th, td {
  padding: 0.4em 0.8em;
}

.controls,
[aria-controls] {
  cursor: pointer !important;
}

.disabled,
[aria-disabled],
[disabled],
[disabled]:active,
[disabled]:focus,
[disabled]:hover,
.readonly,
[readonly] {
  pointer-events: none !important;
}

.hidden,
[hidden] {
  display: none !important;
  pointer-events: none !important;
}

::-webkit-input-placeholder {
  color: rgba(106, 106, 106, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  color: rgba(106, 106, 106, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(106, 106, 106, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

:-moz-placeholder {
  color: rgba(106, 106, 106, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-selection {
  background-color: #292321;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background-color: #292321;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background-color: #292321;
  color: #FFF;
  text-shadow: none;
}

/*# sourceMappingURL=n.css.map */
